body {
  font-family: Arial;
  background: #e8f5e9;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

#response {
  margin-top: 15px;
  font-weight: bold;
}
